* {
    margin: 0;
    padding: 0;
}

#fundo {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 30vw;
    background-color: black;
    text-align: center;
}

.painel {
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(158, 0, 0);
    width: 30vw;
    margin: 1rem auto;
}

.painel > button{
    margin: .4rem;
}

#div2 {
    position: absolute;
    top: 2vw;
    left: 3vw;
    width: 10vw;
    height: 10vw;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div1 {
    position: absolute;
    top: 14vw;
    left: 14vw;
    width: 10vw;
    height: 10vw;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px){
    #fundo{
        height: 75vw;
    }

    .painel{
        width: 70vw;
    }
}